h2{
    font-family: serif;
    font-size: 25px;
    color:rgb(165, 14, 211);
    text-align: center;
}
h3{
    font-family: serif;
    color:rgb(0, 0, 0);
    text-align: center;
}
#heading{
    font-size: 15px;
    font-family: monospace; 
    font-weight: 700;
    margin-left: 10%;
}
.selecotor{
    margin: 0 20%;
    border: 1px solid green;
}
.selecotor p{
    padding-left: 1%;
}
.selecotor .custom-tag{
    margin: 2% 5%;
    border: 1px solid red;

}
.selecotor .element-class{
    margin: 2% 5%;
    border: 1px solid blue;
}
.selecotor .element-attribute{
    margin: 2% 5%;
    border: 1px solid yellow;
}
